* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 120px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba( 75,6,75,1) 0%, rgba( 75, 6, 75, .5) 100%);
    padding: 10px 20px;
    border-bottom: 1px dotted gray;
}


header h1 {
    font-size: 300%;
}

#Name {
    display: flex;
    position: absolute;
    left: 10;
    top: 10;
}

#Name img {
    margin: 0 16px;
    height: 100px;
    width: 100px;
}

nav {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 3;
}

a {
    color: navy;
    margin: 14px 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}

a:hover {
    color: cyan;
}

nav ul {
    display: flex;
    justify-content: end;
    min-width: 300px;
}

main {
    padding-top: 20px;
    background-image: linear-gradient( rgba(67, 57, 67, 0.4) 0%, rgba(67,57,67,0.8) 100%);
}

.card {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 10px 10px 20px;
}

aside {
    display: flex;
    width: 20%;
    border-right: 4px solid navy;
    justify-content: right;
    padding-right: 10px;
}

aside h2 {
    font-size: 180%;
    
}

article {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    padding-left: 20px;
}

article ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.topic {
    display: flex;
    position: relative;
    width:45%;
    aspect-ratio: 3/2;
    border: 3px solid navy;
    margin: 1%;
    background-size: cover;
    background-position: center;
}

.topic:hover {
    border: 3px solid cyan;
}

.label {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 10%;
    height: 30%;
    justify-content: space-between;
    background-image:linear-gradient(rgba( 75,6,75,1) 0%, rgba( 75, 6, 75, .5) 100%);
    padding: 1% 5%;
}

.label h1 {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

#box1 .label {
    bottom: 5%;
    height: 15%
}

#box1 {
    width: 92%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
                  url("../images/techImage1.jpg") ;
}

#box2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
                  url("../images/techImage2.jpg") ;
}

#box3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
                  url("../images/techImage3.jpg") ;
}

#box4 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
                  url("../images/techImage4.jpg") ;
}

#box5 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
                  url("../images/techImage5.jpg") ;
}

#box1:hover {
    background-image: url("../images/techImage1.jpg") ;
}

#box2:hover {
    background-image: url("../images/techImage2.jpg") ;
}

#box3:hover {
    background-image: url("../images/techImage3.jpg") ;
}

#box4:hover {
    background-image: url("../images/techImage4.jpg") ;
}

#box5:hover {
    background-image: url("../images/techImage5.jpg") ;
}